.video-source {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    list-style-type: none;
    border: 1px solid gray;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
    margin: 0;
    padding: 15px;
    direction: rtl;
}

.video-source__li {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}